<div class="container">
  <ul class="nav nav-pills">
        {{!--{{#if loggedIn}}      
          <li><p class="navbar-text">Üdv, {{user.neptun}}!</p></li>        
          <li><a href="/">Főoldal</a></li>
          <li><a href="/subjects/list">Tárgyfelvétel</a></li>   
          {{#if user.isTeacher}}
            <li><a href="/subjects/new">Új Tárgy hozzáadása</a></li>
          {{/if}}    
          <li><a href="/about">Rólunk</a></li>
          <li><a href="/logout">Kijelentkezés</a></li>
        {{else}}--}}

          <!--<li><a href="/login">Bejelentkezés</a></li>-->
          <!--<li><a href="/registration">Regisztráció</a></li>-->
          
          <!--<li><a href="/">Főoldal</a></li>
          <li><a href="/subjects/list">Tantárgyak</a></li>              
          <li><a href="/subjects/new">Tárgy felvétele</a></li>    
          <li><a href="/about">Rólunk</a></li>   -->   
          <li>{{link-to "Főoldal" "/"}}</li>
          <li>{{link-to "Tantárgyak" "subjects.list"}}</li>
          <li>{{link-to "Tárgy felvétele" "subjects.new"}}</li>
          <li>{{link-to "Rólunk" "about"}}</li>
        {{!--{{/if}}--}}
        
        
  </ul>
  <div class="row">
      {{{outlet}}}
  </div>
</div>    
