<td>{{subject_list.subject_name}}</td>
<td>{{subject_list.subject_code}}</td>
<td>{{subject_list.subject_size}}</td>
<td>{{subject_list.subject_location}}</td>
<td>{{subject_list.subject_teacher}}</td>
