<div class="page-header">
    <h1>Új Tárgy felvétele</h1>
</div>

<form class="form-horizontal" method="post">
    <fieldset>
        {{!--<div class="form-group
            {{#if validationErrors.subject_name}}
                has-error
            {{/if}}
        ">--}}

              <label for="subject_name">Adja meg a tárgy nevét!</label>
            <div class="col-lg-10">
              <!--<input class="form-control" id="subject_name" name="subject_name" placeholder="pl. Analízis, Diszkrét Matek, stb..." type="text" {{!--value="{{data.subject_name}}"--}}>-->
              <p>{{input class="form-control" id="name" name="name" placeholder="pl. Analízis, Diszkrét Matek, stb..." type="text" valueBinding="name"}}</p>
               {{!-- {{#if validationErrors.subject_name}}
                    <span class="help-block">{{validationErrors.subject_name.msg}}</span>
                {{/if}}    --}}          
            </div>
       {{!-- </div>--}}
        

      {{!--<div class="form-group
          {{#if validationErrors.subject_code}}
              has-error
          {{/if}}
          
          
      ">  --}}
        <label for="subject_code">Adja meg a tárgy kódját!</label>
          <div class="col-lg-10">
              <!--<input class="form-control" id="subject_code" name="subject_code" placeholder="pl. AnC2015, DmC2015, stb..." type="text"{{!-- value="{{data.subject_code}}"--}}>-->
              <p>{{input class="form-control" id="code" name="code" placeholder="pl. AnC2015, DmC2015, stb..." type="text" valueBinding="code"}}</p>
           {{!-- {{#if validationErrors.subject_code}}
                <span class="help-block">{{validationErrors.subject_code.msg}}</span>
            {{/if}}    --}}
          </div>
      {{!--</div>--}}
      
      {{!-- <div class="form-group
        {{#if validationErrors.subject_size}}
            has-error
        {{/if}}
        
      ">   --}}  
          <label for="subject_size">Adja meg a helyek számát!</label>
          <div class="col-lg-10">
              <!--<input class="form-control" id="subject_size" name="subject_size" placeholder="pl. 10, 20, stb..." type="text"{{!-- value="{{data.subject_size}}"--}}>-->
              <p>{{input class="form-control" id="size" name="size" placeholder="pl. 10, 20, stb..." type="text" valueBinding="size"}}</p>
           {{!-- {{#if validationErrors.subject_size}}
                <span class="help-block">{{validationErrors.subject_size.msg}}</span>
            {{/if}} --}}
          </div>
        {{!--</div>--}}
          
       {{!-- <div class="form-group
        {{#if validationErrors.subject_location}}
            has-error
        {{/if}}
        
      ">     --}}     
          <label for="subject_location">Adja meg a tárgy helyszínét!</label>
          <div class="col-lg-10">
            <!--<input class="form-control" id="subject_location" name="subject_location" placeholder="pl. Északi, Déli, stb..." type="text" value="{{data.subject_location}}">-->
            <p>{{input class="form-control" id="location" name="location" placeholder="pl. Északi, Déli, stb..." type="text" valueBinding="location"}}</p>
            {{!--{{#if validationErrors.subject_location}}
                <span class="help-block">{{validationErrors.subject_location.msg}}</span>
            {{/if}}             --}}
          </div>
       {{!-- </div>--}}
          
       {{!--<div class="form-group
        {{#if validationErrors.subject_teacher}}
            has-error
        {{/if}}
        
      ">   --}}         
        <label for="subject_teacher">Adja meg az oktató nevét!</label>
          <div class="col-lg-10">
            <!--<input class="form-control" id="subject_teacher" name="subject_teacher" placeholder="pl. Kovács Eszter, Tóth Bálint, stb..." type="text" value="{{data.subject_teacher}}">-->
            <p>{{input class="form-control" id="teacher" name="teacher" placeholder="pl. Kovács Eszter, Tóth Bálint, stb..." type="text" valueBinding="teacher"}}</p>
            {{!--{{#if validationErrors.subject_location}}
                <span class="help-block">{{validationErrors.subject_teacher.msg}}</span>
            {{/if}}              --}}
          </div>
     {{!-- </div>          --}}
    </fieldset>
    <fieldset class="buttons">
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default" {{action "clear"}}>Mégse</button>
                <button type="submit" class="btn btn-primary" {{action "submit"}}>Felvétel</button>
            </div>
        </div>
    </fieldset>
</form>